// @font-face {
//   font-family: 'NotoSans-Bold';
//   src: url('../fonts/notosans/NotoSans-Bold.eot');
//   src: url('/notosans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
//        url('/notosans/NotoSans-Bold.svg#NotoSans-Bold') format('svg'),
//        url('/notosans/NotoSans-Bold.ttf') format('truetype'),
//        url('/notosans/NotoSans-Bold.woff') format('woff'),
//        url('/notosans/NotoSans-Bold.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

/* @font-face {
  font-family: 'NotoSans-Regular';
  src: url('notosans/NotoSans-Regular.eot');
  src: url('notosans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('notosans/NotoSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */


