@font-face {
  font-family: 'Sarabun';
  src: url('../fonts/sarabun/Sarabun-Regular.eot');
  src: url('../fonts/sarabun/Sarabun-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sarabun/Sarabun-Regular.svg#Sarabun-Regular') format('svg'),
       url('../fonts/sarabun/Sarabun-Regular.ttf') format('truetype'),
       url('../fonts/sarabun/Sarabun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//Font sizes
$font-size-mn:  12px; //12px
$font-size-xxs: 14px; //14px
$font-size-xs:  16px; //16px
$font-size-sm:  18px; //18px
$font-size-md:  22px; //22px
$font-size-lg:  30px; //30px

//Color
$green: #2A7B03;
$gray: #9C9C9C;
$white: #FFF;

$gray_1: #E1E1E1;
$gray_2: #262F36;
$gray_3: #202A30;
$gray_4: #828082;
$gray_5: #2D373F;

$gray_6: #C9C9C9;

//Font
$first_regular: 'Sarabun', sans-serif;